Repository RomainVelocitAI/siteVelocitAI: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run type-check, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "npm run type-check"
  ]
}

🔧 Fix Netlify build: Add missing dependencies to package.json
  package.json
Due: prettier --write

✨ Replace Spline 3D with VaporizeText effect in Hero section
  components/sections/HeroSection.tsx
  components/ui/NeonCursor.tsx
  components/ui/SplineHeroAnimation.tsx
  components/ui/SplineSceneFixed.tsx
  components/ui/Spotlight.tsx
  components/ui/VaporizeTextEffect.tsx
  pages/_app.tsx
Due: npm run type-check

🎨 Amélioration de l'interface BeforeAfterSection
  components/Header.tsx
  components/layout/Header.tsx
  components/sections/BeforeAfterSection.tsx
  components/sections/CalculatorSection.tsx
  components/sections/ContactSection.tsx
  components/sections/FAQSection.tsx
  components/sections/HeroSection.tsx
  components/sections/MethodologySection.tsx
  components/sections/WhyAutomateSection.tsx
  components/ui/Button.tsx
  components/ui/Card.tsx
  components/ui/Icons.tsx
  design-system.md
  package-lock.json
  package.json
  styles/globals-premium.css
  tailwind.config.js
Due: npm run type-check, prettier --write

✨ Intégration Airtable pour témoignages dynamiques
  .env.example
  components/sections/ContactSection.tsx
  components/sections/DynamicPremiumTestimonialsSection.tsx
  components/sections/FAQSection.tsx
  components/sections/InstagramTestimonialsSection.tsx
  components/sections/LuxuryTestimonialsSection.tsx
  components/sections/PremiumTestimonialsSection.tsx
  components/sections/SolutionsSection.tsx
  components/sections/TestimonialsSectionShowcase.tsx
  components/ui/animations.tsx
  dev.log
  docs/AIRTABLE_SETUP.md
  docs/TESTIMONIALS_SECTIONS_GUIDE.md
  docs/TEST_AIRTABLE_LOCAL.md
  hooks/useSafeScroll.ts
  lib/airtable-simple.ts
  lib/airtable.ts
  next.config.js
  package-lock.json
  package.json
  pages/api/testimonials-simple.ts
  pages/api/testimonials.ts
  pages/index.tsx
  styles/globals.css
Due: npm run type-check, prettier --write

🐛 Fix TypeScript build errors for Netlify deployment
  components/sections/DynamicPremiumTestimonialsSection.tsx
  components/sections/LuxuryTestimonialsSection.tsx
  components/sections/PremiumTestimonialsSection.tsx
  components/ui/Icons.tsx
  lib/airtable-simple.ts
  lib/airtable.ts
  pages/api/devis/generate.ts
Due: npm run type-check

🔧 Fix Airtable production: utiliser ID de table au lieu du nom
  .env.example
  docs/NETLIFY_SETUP.md
  lib/airtable-simple.ts
  lib/airtable.ts
  pages/api/test-airtable.ts
Due: npm run type-check, prettier --write

🌙 Amélioration de la visibilité en mode nuit pour les cartes de témoignages
  components/sections/DynamicPremiumTestimonialsSection.tsx
  components/sections/InstagramTestimonialsSection.tsx
Due: npm run type-check

🔍 SEO Fix: Redirections 301 + robots.txt optimisé + blocage domaines dupliqués
  middleware.ts
  netlify.toml
  public/robots.txt
Due: npm run type-check

🔍 SEO Fix: Ajout du schéma FAQ avec mainEntity pour corriger l'erreur Google
  pages/index.tsx
Due: npm run type-check

🔍 SEO Fix: Suppression du doublon de schéma FAQ microdata
  components/sections/FAQSection.tsx
Due: npm run type-check

Fix: Résolution erreur 500 après inactivité + optimisations SEO
  FIX_ERROR_500_GUIDE.md
  deploy-fix.sh
  lib/api-wrapper.ts
  middleware.ts
  netlify.toml
  netlify/functions/warmup.ts
  next.config.js
  pages/500.tsx
  pages/_app.tsx
  pages/api/health.ts
  pages/api/testimonials-safe.ts
  test-fixes.js
Due: npm run type-check, prettier --write

Fix: Suppression fonction Netlify incompatible avec le build
  netlify/functions/warmup.ts
Due: npm run type-check

Fix: Correction erreur TypeScript dans health.ts
  pages/api/health.ts
Due: npm run type-check

Fix: Résolution erreur 500 après inactivité + optimisations SEO
  components/SafeHydrate.tsx
  middleware.ts
  netlify.toml
  netlify/edge-functions/error-handler.js
  netlify/functions/scheduled-warmup.js
  next.config.js
  pages/_app.tsx
  pages/api/health.ts
  pages/api/warmup.ts
Due: npm run type-check

Fix: Correction erreur TypeScript dans health.ts
  pages/bootcamp.tsx
Due: npm run type-check

Fix: Résolution erreur 500 après inactivité + optimisations SEO
  lib/airtable-simple.ts
  pages/index.tsx
Due: npm run type-check

Fix: Correction erreur TypeScript dans health.ts
  components/sections/InstagramTestimonialsSection.tsx
  lib/airtable-simple.ts
  pages/index.tsx
Due: npm run type-check

Fix: Passage à getStaticProps avec ISR pour réduire les appels API Airtable
  lib/airtable-simple.ts
  pages/index.tsx
Due: npm run type-check

Fix: Correction import GetStaticProps pour build Netlify
  pages/index.tsx
Due: npm run type-check

Fix: Correction erreur TypeScript dans health.ts
  lib/airtable-simple.ts
Due: npm run type-check

Ajout pages légales (CGV, mentions légales, politique confidentialité) et cookie banner + Fix des liens du header et footer
  components/CookieBanner.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Layout.tsx
  components/layout/Footer.tsx
  pages/_app.tsx
  pages/blog/index.tsx
  pages/cgv.tsx
  pages/mentions-legales.tsx
  pages/politique-confidentialite.tsx
  pages/sitemap-dynamic.xml.tsx
  pages/sitemap.xml.tsx
Due: npm run type-check

SEO: Structured data enrichie (LocalBusiness, Product), preload assets, alt tags améliorés
  SEO-OPTIMIZATIONS.md
  components/layout/Header.tsx
  components/sections/InstagramTestimonialsSection.tsx
  lib/structured-data.ts
  package.json
  pages/_document.tsx
  pages/index.tsx
  scripts/deploy-optimized-images.sh
  scripts/optimize-images.js
Due: npm run type-check, prettier --write

SEO: Images optimisées WebP déployées (-95% de taille)
  public/images/anna_miniature.webp
  public/images/blog/10-processus-automatiser-priorite-entreprise/automatisation-processus-prioritaires-2025.webp
  public/images/blog/10-processus-automatiser-priorite-entreprise/bureau-moderne-automatisation.webp
  public/images/blog/10-processus-automatiser-priorite-entreprise/equipe-optimisation-processus.webp
  public/images/blog/10-processus-automatiser-priorite-entreprise/methodologie-evaluation-framework.webp
  public/images/blog/10-processus-automatiser-priorite-entreprise/methodologie-evaluation-processus.webp
  public/images/blog/10-processus-automatiser-priorite-entreprise/processus-prioritaires-infographie.webp
  public/images/blog/10-processus-automatiser-priorite-entreprise/roi-comparaison-graphique.webp
  public/images/blog/10-processus-automatiser-priorite-entreprise/roi-comparison-infographic.webp
  public/images/blog/chatbots-ia-service-client-2025/chatbot-interface-moderne.webp
  public/images/blog/chatbots-ia-service-client-2025/chatbot-secteurs-activite.webp
  public/images/blog/chatbots-ia-service-client-2025/equipe-formation-chatbot.webp
  public/images/blog/chatbots-ia-service-client-2025/integration-multicanale.webp
  public/images/blog/chatbots-ia-service-client-2025/service-client-automatise.webp
  public/images/blog/chatbots-ia-service-client-2025/statistiques-roi-chatbot.webp
  public/images/croissance.webp
  public/images/efficacite.webp
  public/images/innovation.webp
  public/images/julien_miniature.webp
  public/images/performance.webp
  public/images/productivité.webp
Due: none

SEO: Fix React hydration errors + Enable full SSR/SSG
  components/CookieBanner.tsx
  contexts/ThemeContext.tsx
  pages/index.tsx
  scripts/check-ssr.sh
Due: npm run type-check

Fix CRITIQUE: Résout erreurs 500 + hydration en rendant SolutionsSection SSR-compatible
  components/sections/SolutionsSection.tsx
Due: npm run type-check

Fix DÉFINITIF: Résout hydration mismatch dans HeroSection (RotatingText)
  components/sections/HeroSection.tsx
Due: npm run type-check

Fix CRITIQUE useMediaQuery: Résout hydration mismatch dans TOUTES les animations
  hooks/useMediaQuery.ts
Due: npm run type-check

Fix FINAL: FAQSection openIndex null + BeforeAfterSection dynamic import ssr:false - Résout TOUTES les hydration mismatches #418
  components/sections/FAQSection.tsx
  pages/index.tsx
Due: npm run type-check

Sitemap: Ajout de TOUS les articles de blog (11 au total) + page bootcamp pour SEO complet
  pages/sitemap.xml.tsx
Due: npm run type-check

SEO: Suppression H2 caché + optimisation H2 avec keywords (FAQ, Blog) pour meilleur référencement
  components/sections/BlogPreviewSection.tsx
  components/sections/FAQSection.tsx
  components/sections/HeroSection.tsx
  test-production.js
Due: npm run type-check

SEO CRITICAL FIX: Activer SSR pour crawlabilité complète + nettoyage sitemaps
  components/ui/VaporizeTextEffect.tsx
  contexts/CalculatorContext.tsx
  devis/devis_base64.txt
  devis/devis_sandrine_savrimoutou_automation_blog.pdf
  package-lock.json
  package.json
  pages/index.tsx
  pages/sitemap-dynamic.xml.tsx
  pages/sitemap.xml.tsx
  public/robots.txt
  scripts/generate-devis.js
Due: npm run type-check, prettier --write

PERF: Optimisations majeures performances Lighthouse 62→90+
  PERFORMANCE_OPTIMIZATIONS_2025-10-06.md
  SEO_CORRECTIONS_2025-10-06.md
  components/CookieBanner.tsx
  components/layout/Footer.tsx
  components/sections/ContactSection.tsx
  components/sections/SolutionsSection.tsx
  next.config.js
  package.json
  pages/index.tsx
Due: npm run type-check, prettier --write

fix: Configuration Netlify + forceSwcTransforms
  netlify.toml
  next.config.js
Due: npm run type-check

PERF CRITICAL: Rollback + optimisations ciblées forced layouts
  components/layout/Header.tsx
  components/sections/SolutionsSection.tsx
  contexts/CalculatorContext.tsx
Due: npm run type-check
