Repository RomainVelocitAI/siteVelocitAI: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run type-check, prettier --write

Ajout des images pour l'article 'IA vs RPA vs Automatisation Intelligente : Quelle Solution Choisir en 2025?'
  public/images/blog/ia-vs-rpa-vs-automatisation-intelligente-solution-choisir-2025/image1.webp
  public/images/blog/ia-vs-rpa-vs-automatisation-intelligente-solution-choisir-2025/image2.webp
  public/images/blog/ia-vs-rpa-vs-automatisation-intelligente-solution-choisir-2025/image3.webp
  public/images/blog/ia-vs-rpa-vs-automatisation-intelligente-solution-choisir-2025/image4.webp
  public/images/blog/ia-vs-rpa-vs-automatisation-intelligente-solution-choisir-2025/image5.webp
  public/images/blog/ia-vs-rpa-vs-automatisation-intelligente-solution-choisir-2025/image6.webp
Due: none

🎯 Optimisation copywriting complète : repositionnement "Expert Accessible"
  GUIDELINES_TON_COPYWRITING_VELOCITAI_2025.md
  OPTIMISATIONS_SEO_IMMEDIATES.md
  ROADMAP_SEO_AGENTS_IA_TACTIQUE.md
  STRATEGIE_MESSAGING_VELOCITAI_2025.md
  STRATEGIE_SEO_ECOSYSTEME_AGENTS_IA_2025.md
  components/sections/BeforeAfterSection.tsx
  components/sections/ContactSection.tsx
  components/sections/FAQSection.tsx
  components/sections/HeroSection.tsx
  components/sections/MethodologySection.tsx
  components/sections/SolutionsSection.tsx
  google-ads/README.md
  google-ads/config/.env.example
  google-ads/package.json
  google-ads/scripts/create-campaign.js
  google-ads/scripts/setup-oauth.js
  google-ads/scripts/test-connection.js
  pages/index.tsx
  seo-strategy-automation-velocitai.md
Due: npm run type-check, prettier --write

Publication automatique: ia-vs-rpa-vs-automatisation-intelligente-solution-choisir-2025
  content/blog/ia-vs-rpa-vs-automatisation-intelligente-solution-choisir-2025.md
Due: prettier --write

Update contact form webhook URL to active n8n endpoint
  ARCHIVE_seo-strategy-automation-velocitai.md
  Stratégie SEO.md:Zone.Identifier
  components/sections/ContactSection.tsx
  seo-strategy-automation-velocitai.md_Zone.Identifier
Due: npm run type-check, prettier --write

✅ Système de devis automatique opérationnel
  .env.example
  DEVIS_DOCUMENTATION.md
  components/animations/EnvelopeAnimation.tsx
  components/animations/SphereAnimation.tsx
  components/sections/ContactSection.tsx
  components/sections/ContactSectionComparison.tsx
  components/sections/ContactSectionWithInlineAnimation.tsx
  hooks/useAnimationPreferences.ts
  hooks/useFormAnimation.ts
  lib/airtable.ts
  lib/conversationalQuoteGenerator.ts
  lib/quoteEncryption.ts
  package.json
  pages/_app.tsx
  pages/animation-demo.tsx
  pages/api/devis/accept.ts
  pages/api/devis/generate.ts
  pages/api/devis/pdf/[id].ts
  pages/devis/[id].tsx
  pages/devis/[id].tsx.backup
  pages/test-inline-animation.tsx
  styles/animations.css
Due: npm run type-check, prettier --write

📱 Update WhatsApp number to +262692470141
  .env.example
Due: none

🔒 Remove .env from tracking and add to .gitignore
  .gitignore
Due: none

🔒 SECURITY: Remove all exposed API keys from codebase
  AIRTABLE_SETUP_SUMMARY.md
  FLUX_SETUP_SUMMARY.md
  GUIDE_REDACTION_BLOG_IA.md
  REDACTION_BLOG_FINALE.md
  RESUME_FINAL_AIRTABLE.md
  scripts/auto-publish-blog.js
  scripts/demo-image-processing.js
  scripts/setup-airtable-base.js
  scripts/setup-airtable-blog-base.js
  scripts/test-airtable-connection.js
  scripts/test-publish-simple.js
Due: npm run type-check, prettier --write

🔧 Add @types/crypto-js for TypeScript build compatibility
  package.json
Due: prettier --write

💳 Add Stripe payment integration to quote pages
  pages/devis/[id].tsx
Due: npm run type-check

🔧 Fix critical issues in quote page
  pages/devis/[id].tsx
Due: npm run type-check

🔧 Fix encoding issues and add PDF API
  pages/devis/[id].tsx
Due: npm run type-check

🔧 Fix all critical issues in quote system
  pages/api/devis/pdf/[id].ts
Due: npm run type-check

🔧 Upgrade PDF generation to professional format with Puppeteer
  package.json
  pages/api/devis/pdf/[id].ts
Due: npm run type-check, prettier --write

🔧 Fix Stripe payment link extraction from quote details
  pages/devis/[id].tsx
Due: npm run type-check

🔧 Fix UI issues: remove alert popup, fix text colors, fix encoding, improve PDF generation
  package.json
  pages/api/devis/pdf/[id].ts
  pages/devis/[id].tsx
Due: npm run type-check, prettier --write

🔧 Replace Puppeteer with simple text-based PDF generation for Netlify compatibility
  package.json
  pages/api/devis/pdf/[id].ts
Due: npm run type-check, prettier --write

🔧 Add complete PDF system with PDFKit: auto-generation, Airtable storage, and download API
  package.json
  pages/api/devis/generate-pdf.js
  pages/api/devis/pdf/[id].ts
  utils/generatePDF.js
Due: npm run type-check, prettier --write

🔧 Complete PDF system: VPS integration, URL PDF field, and download functionality
  pages/api/devis/generate-pdf.js
  pages/devis/[id].tsx
Due: npm run type-check

🔧 Fix TypeScript: Add urlPdf to QuoteData interface
  pages/devis/[id].tsx
Due: npm run type-check

🔧 Fix PDF download: Use button with download attribute instead of link
  pages/devis/[id].tsx
Due: npm run type-check

🔧 Make PDF URL public and add CORS headers for direct download
  pages/api/devis/pdf/[id].ts
  pages/devis/[id].tsx
Due: npm run type-check

🎉 Complete PDF system: PDFKit script, static file serving, and working download functionality
  pages/api/devis/pdf/[id].ts
  public/pdfs/devis-reckKHfwv7zvBMMLT.pdf
Due: npm run type-check

🔧 Add @types/pdfkit for TypeScript compilation
  package.json
Due: prettier --write

🔧 Remove unnecessary PDF API - static files served directly by Next.js
  package.json
  pages/api/devis/pdf/[id].ts
Due: npm run type-check, prettier --write

🚀 Refonte jour 2 bootcamp + optimisations mobile
  pages/bootcamp.tsx
Due: npm run type-check

Publication automatique: automatisation-processus-metier-guide-complet-dirigeants-2025
  content/blog/automatisation-processus-metier-guide-complet-dirigeants-2025.md
Due: prettier --write

Publication automatique: roi-automatisation-ia-7-metriques-cles-impact-business-2025
  content/blog/roi-automatisation-ia-7-metriques-cles-impact-business-2025.md
Due: prettier --write

Publication automatique: conformite-rgpd-automatisation-ia-guide-juridique-dirigeants
  content/blog/conformite-rgpd-automatisation-ia-guide-juridique-dirigeants.md
Due: prettier --write

🎨 Suppression du trait sous 'Écosystème d'Agents IA' dans la section Hero
  components/sections/HeroSection.tsx
Due: npm run type-check

🐛 Fix: Ajout des fichiers UI manquants pour corriger le build
  components/ui/SplineScene.tsx
  components/ui/Spotlight.tsx
Due: npm run type-check

🐛 Fix: Ajout du fichier utils.ts manquant pour corriger le build complet
  lib/utils.ts
Due: npm run type-check

🔧 Fix: Forcer l'installation des dépendances sur Netlify
  netlify.toml
Due: none

🔧 Fix Netlify build: Add package-lock.json to repository
  .gitignore
  package-lock.json
Due: prettier --write

🔧 Fix Netlify build: Regenerate complete package-lock.json with SWC dependencies
  package-lock.json
Due: prettier --write

🔧 Fix Netlify build: Multiple approaches for @splinetool/react-spline module resolution
  components/ui/SplineWrapper.tsx
  netlify.toml
  tsconfig.json
  types/spline.d.ts
Due: npm run type-check, prettier --write

🔧 Fix Netlify build: use npm install instead of npm ci
  netlify.toml
Due: none

🔧 Force clean install on Netlify to fix missing dependencies
  netlify.toml
Due: none

🔍 Add debug commands to understand Netlify package installation issue
  netlify.toml
Due: none

🔧 Regenerate package-lock.json with all 1108 dependencies
  netlify.toml
Due: none

Path conditions:
  npm run type-check: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,css}
