Repository RomainVelocitAI/siteVelocitAI: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run type-check, prettier --write

✨ Intensification majeure de l'effet Neon Cursor violet
  components/ui/NeonCursor.tsx
Due: npm run type-check

🎯 Correction majeure: Vrai neon cursor violet comme l'original
  components/ui/NeonCursor.tsx
Due: npm run type-check

📱 Corrections critiques mobile: NeonCursor désactivé + Blog routing fixé
  components/ui/NeonCursor.tsx
Due: npm run type-check

🔧 Correction totale encodage UTF-8 article automatisation d'entreprise
  content/blog/automatisation-entreprise-guide-strategique-2025.md
Due: prettier --write

📝 Nouvel article: 10 Processus à Automatiser en Priorité dans votre Entreprise
  content/blog/10-processus-automatiser-priorite-entreprise.md
  public/images/blog/10-processus-automatiser-priorite-entreprise/automatisation-processus-prioritaires-2025.png
  public/images/blog/10-processus-automatiser-priorite-entreprise/methodologie-evaluation-processus.png
  public/images/blog/10-processus-automatiser-priorite-entreprise/roi-comparison-infographic.png
Due: prettier --write

🎨 Amélioration article: 5 nouvelles images françaises avec alternance styles
  CLAUDE.md
  content/blog/10-processus-automatiser-priorite-entreprise.md
  content/blog/automatisation-entreprise-guide-strategique-2025.md
  content/blog/chatbots-ia-service-client-2025.md
  public/images/blog/10-processus-automatiser-priorite-entreprise/bureau-moderne-automatisation.png
  public/images/blog/10-processus-automatiser-priorite-entreprise/equipe-optimisation-processus.png
  public/images/blog/10-processus-automatiser-priorite-entreprise/methodologie-evaluation-framework.png
  public/images/blog/10-processus-automatiser-priorite-entreprise/processus-prioritaires-infographie.png
  public/images/blog/10-processus-automatiser-priorite-entreprise/roi-comparaison-graphique.png
Due: prettier --write

🎉 Système blog automatisé opérationnel avec 6 images par article
  .env.example
  AIRTABLE_SETUP_SUMMARY.md
  BLOG_AUTOMATION_README.md
  GUIDE_REDACTION_BLOG_IA.md
  RESUME_FINAL_AIRTABLE.md
  WORKFLOW_BLOG_ROMAIN.md
  airtable-blog-config.json
  content/blog/chatbots-ia-service-client-2025.md
  content/blog/n8n-vs-zapier-2025-comparatif-automatisation-pme.md
  docs/blog-automation-guide.md
  package.json
  pages/sitemap-dynamic.xml.tsx
  pages/sitemap.xml.tsx
  scripts/auto-publish-blog.js
  scripts/demo-image-processing.js
  scripts/deploy-blog-automation.sh
  scripts/prepare-blog-queue.js
  scripts/quick-check.sh
  scripts/setup-airtable-base.js
  scripts/setup-airtable-blog-base.js
  scripts/setup-cron.sh
  scripts/test-airtable-connection.js
  scripts/test-blog-automation.js
  scripts/test-publish-simple.js
Due: npm run type-check, prettier --write

🔧 Correction parsing front matter et sitemap automatique
  pages/sitemap.xml.tsx
  scripts/auto-publish-blog.js
Due: npm run type-check

📅 Configuration publication tous les 2 jours
  CONFIGURATION_PUBLICATION_2_JOURS.md
  scripts/auto-publish-blog.js
  scripts/setup-cron.sh
Due: npm run type-check, prettier --write

🚀 Système Blog VelocitAI Complet avec Flux 1.1 Pro
  .env.example
  FLUX_SETUP_SUMMARY.md
  GUIDE_REDACTION_BLOG_IA.md
  REDACTION_BLOG_FINALE.md
  RESOLUTION_CONFLIT_HEROICONS.md
  SUIVI_ARTICLES_STRATEGIQUES.md
  Stratégie SEO.md
  Stratégie SEO.md:Zone.Identifier
  flux-image-generator.js
  generated-images/20250628T033314_roi-automatisation-pme_image1.webp
  generated-images/20250628T033314_roi-automatisation-pme_image2.webp
  generated-images/20250628T033314_roi-automatisation-pme_image3.webp
  generated-images/20250628T033314_roi-automatisation-pme_image4.webp
  generated-images/20250628T033314_roi-automatisation-pme_image5.webp
  generated-images/20250628T033314_roi-automatisation-pme_image6.webp
  manual-test-report.md
  pages/prospect/[slug].tsx
  pages/prospect/entreprise-test.tsx
  pages/prospect/restaurant-le-palmier.tsx
  preview-prospect-page.html
  prompt-redaction-seo-velocitai.md
  solution-conflit-heroicons.md
  test-flux-1751081571282.webp
  test-flux.js
Due: npm run type-check, prettier --write

Amélioration des styles de tableaux pour les articles de blog
  .env.example
  package.json
  pages/blog/[slug].tsx
  styles/globals.css
Due: npm run type-check, prettier --write

Intégration webhook N8N et animation avion papier pour formulaire contact
  components/sections/ContactSection.tsx
Due: npm run type-check

Animation avancée du bouton contact : repli + envol avion violet
  components/sections/ContactSection.tsx
Due: npm run type-check

Create main.yml
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Fix URL encoding issue in Airtable API calls
  scripts/auto-publish-blog.js
Due: npm run type-check

Fix: Corrige les liens 404 des articles de blog sur la page d'accueil
  components/sections/BlogPreviewSection.tsx
Due: npm run type-check

Update favicon and social media sharing images
  pages/_document.tsx
  pages/index.tsx
  public/favicon.ico
Due: npm run type-check

SEO Audit: Corrections critiques et améliorations majeures
  components/blog/RelatedArticles.tsx
  components/seo/Seo.tsx
  components/ui/Breadcrumbs.tsx
  content/blog/n8n-vs-zapier-2025-comparatif-automatisation-pme.md
  pages/blog/[slug].tsx
  pages/index.tsx
  public/images/og/velocitai-og.jpg
Due: npm run type-check, prettier --write

Fix: Corrige l'encodage URL dans le script de publication blog
  scripts/auto-publish-blog.js
Due: npm run type-check

Fix: Remplace curl par node-fetch dans le script blog
  scripts/auto-publish-blog.js
Due: npm run type-check

Debug: Ajoute vérification des variables d'environnement Airtable
  scripts/auto-publish-blog.js
Due: npm run type-check

Debug: Améliore diagnostics erreurs Airtable 422
  scripts/auto-publish-blog.js
Due: npm run type-check

Fix: Ajoute debug git et auto-add dans saveArticle
  scripts/auto-publish-blog.js
Due: npm run type-check

Fix: Désactive hooks Husky dans GitHub Actions
  .github/workflows/main.yml
Due: none

Publication automatique: ia-generative-entreprise-applications-concretes-roi-pme-francaises-2025
  content/blog/ia-generative-entreprise-applications-concretes-roi-pme-francaises-2025.md
Due: prettier --write

Publication automatique: roi-automatisation-calculer-maximiser-benefices-pme-francaises
  content/blog/roi-automatisation-calculer-maximiser-benefices-pme-francaises.md
Due: prettier --write

Feat: Implémente animations bootcamp landing page complète
  ANIMATION_PLAN.md
  pages/bootcamp.tsx
  public/images/profil_romain.png
Due: npm run type-check, prettier --write

Fix: Corrige erreur TypeScript transition duplicate
  pages/bootcamp.tsx
Due: npm run type-check

Add interactive quote procedure and update bootcamp page
  PROCEDURE_DEVIS_INTERACTIF_AIRTABLE.md
  pages/bootcamp.tsx
Due: npm run type-check, prettier --write

Update: Add last-modified meta tag for better SEO
  pages/index.tsx
Due: npm run type-check

Add blog images for July 2025 articles
  public/images/blog/2025-07/rgpd-conformite-ia-image4.jpg
  public/images/blog/2025-07/rgpd-conformite-ia-image5.jpg
  public/images/blog/2025-07/rgpd-conformite-ia-image6.jpg
  public/images/blog/2025-07/transformation-digitale-pme-image5.jpg
  public/images/blog/2025-07/transformation-digitale-pme-image6.jpg
Due: none

Add scheduled articles images for July 2025
  public/images/blog/2025-07-scheduled/rgpd-conformite-image1.webp
  public/images/blog/2025-07-scheduled/transformation-digitale-image1.webp
  public/images/blog/2025-07-scheduled/transformation-digitale-image2.webp
Due: none

Complete scheduled articles images - RGPD conformité and transformation digitale (6 images each)
  public/images/blog/2025-07-scheduled/rgpd-conformite-image2.webp
  public/images/blog/2025-07-scheduled/rgpd-conformite-image3.webp
  public/images/blog/2025-07-scheduled/rgpd-conformite-image4.webp
  public/images/blog/2025-07-scheduled/rgpd-conformite-image5.webp
  public/images/blog/2025-07-scheduled/rgpd-conformite-image6.webp
  public/images/blog/2025-07-scheduled/transformation-digitale-image3.webp
  public/images/blog/2025-07-scheduled/transformation-digitale-image4.webp
  public/images/blog/2025-07-scheduled/transformation-digitale-image5.webp
  public/images/blog/2025-07-scheduled/transformation-digitale-image6.webp
Due: none

Fix problematic images with realistic photography instead of text/diagrams
  public/images/blog/2025-07-scheduled/rgpd-conformite-image1.webp
  public/images/blog/2025-07-scheduled/rgpd-conformite-image2.webp
  public/images/blog/2025-07-scheduled/rgpd-conformite-image4.webp
  public/images/blog/2025-07-scheduled/rgpd-conformite-image5.webp
  public/images/blog/2025-07-scheduled/rgpd-conformite-image6.webp
  public/images/blog/2025-07-scheduled/transformation-digitale-image1.webp
  public/images/blog/2025-07-scheduled/transformation-digitale-image3.webp
Due: none

Ajout des images générées pour tous les articles de blog (scheduled + published)
  content/blog/ia-generative-entreprise-applications-concretes-roi-pme-francaises-2025.md
  content/blog/n8n-vs-zapier-2025-comparatif-automatisation-pme.md
  content/blog/roi-automatisation-calculer-maximiser-benefices-pme-francaises.md
  public/images/blog/published-articles/ia-generative-image1.webp
  public/images/blog/published-articles/ia-generative-image2.webp
  public/images/blog/published-articles/ia-generative-image3.webp
  public/images/blog/published-articles/ia-generative-image4.webp
  public/images/blog/published-articles/ia-generative-image5.webp
  public/images/blog/published-articles/ia-generative-image6.webp
  public/images/blog/published-articles/n8n-zapier-image1.webp
  public/images/blog/published-articles/n8n-zapier-image2.webp
  public/images/blog/published-articles/n8n-zapier-image3.webp
  public/images/blog/published-articles/n8n-zapier-image4.webp
  public/images/blog/published-articles/n8n-zapier-image5.webp
  public/images/blog/published-articles/n8n-zapier-image6.webp
  public/images/blog/published-articles/roi-automatisation-image1.webp
  public/images/blog/published-articles/roi-automatisation-image2.webp
  public/images/blog/published-articles/roi-automatisation-image3.webp
  public/images/blog/published-articles/roi-automatisation-image4.webp
  public/images/blog/published-articles/roi-automatisation-image5.webp
  public/images/blog/published-articles/roi-automatisation-image6.webp
Due: prettier --write

🌐 Correction domaine: velocitai.com → velocit-ai.fr
  pages/sitemap-dynamic.xml.tsx
  pages/sitemap.xml.tsx
  public/robots.txt
  scripts/auto-publish-blog.js
  scripts/test-publish-simple.js
Due: npm run type-check

Ajout images pour article : ROI Automatisation IA - 7 Métriques Clés
  public/images/blog/roi-automatisation-ia-7-metriques-cles-impact-business-2025/image1.webp
  public/images/blog/roi-automatisation-ia-7-metriques-cles-impact-business-2025/image2.webp
  public/images/blog/roi-automatisation-ia-7-metriques-cles-impact-business-2025/image3.webp
  public/images/blog/roi-automatisation-ia-7-metriques-cles-impact-business-2025/image4.webp
  public/images/blog/roi-automatisation-ia-7-metriques-cles-impact-business-2025/image5.webp
  public/images/blog/roi-automatisation-ia-7-metriques-cles-impact-business-2025/image6.webp
Due: none

Ajout images pour article : Automatisation des Processus Métier - Guide Complet pour les Dirigeants en 2025
  public/images/blog/automatisation-processus-metier-guide-complet-dirigeants-2025/image1.webp
  public/images/blog/automatisation-processus-metier-guide-complet-dirigeants-2025/image2.webp
  public/images/blog/automatisation-processus-metier-guide-complet-dirigeants-2025/image3.webp
  public/images/blog/automatisation-processus-metier-guide-complet-dirigeants-2025/image4.webp
  public/images/blog/automatisation-processus-metier-guide-complet-dirigeants-2025/image5.webp
  public/images/blog/automatisation-processus-metier-guide-complet-dirigeants-2025/image6.webp
Due: none

Publication automatique: transformation-digitale-pme-roadmap-complete-automatiser-sans-licencier
  content/blog/transformation-digitale-pme-roadmap-complete-automatiser-sans-licencier.md
Due: prettier --write

Path conditions:
  npm run type-check: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,css}
